parameters:
  image_name: ubuntu-14-04-cloud-amd64
  flavor_name: m1.medium
  public_net_id: 41eae12a-27f7-4ace-9fda-3cd55c7c0651
  private_net_id: 41eae12a-27f7-4ace-9fda-3cd55c7c0651
  private_subnet_id: 41eae12a-27f7-4ace-9fda-3cd55c7c0651
  proxy: http://10.10.10.10:8080
  vnf_id: simulators_vnf
  vf_module_id: simulators_vsp
  key_name: onap-dev