.idea/
.project
.classpath
.factorypath
.settings/
target/
autorelease/build/*/
autorelease/dist
log.html
output.xml
report.html
env.properties
.vagrant
/archives/
*.jar
*.zip
*.tar
*.log
.vagrant
*~
.checkstyle
.DS_Store
devtool/
seccom/
csit/
.idea
*.iml
/.pydevproject
/bin/
*.class
*.csar
benchmark/
.tox/
