[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-integration-committer
	read = group GitHub Replication
[project]
	description = Integration framework, automated tools, code and scripts, best practice guidance related to cross-project Continuous System Integration Testing (CSIT), and delivery of ONAP.
[access "refs/heads/*"]
	label-Verified = -1..+1 group ldap/onap-jenkins-labs
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
