[access]
	inheritFrom = All-Projects
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-integration-committer
[project]
	description = Integration framework, automated tools, code and scripts, best practice guidance related to cross-project Continuous System Integration Testing (CSIT), and delivery of ONAP.
[access "refs/heads/*"]
	label-Verified = -1..+1 group saml/onap-jenkins-labs
[submit]
	action = rebase if necessary
