parameters:

  ##############################################
  #                                            #
  # Parameters used across all ONAP components #
  #                                            #
  ##############################################

  public_net_id: 971040b2-7059-49dc-b220-4fab50cb2ad4

  public_net_name: external

  ubuntu_1404_image: ubuntu-14-04-cloud-amd64

  ubuntu_1604_image: ubuntu-16-04-cloud-amd64

  flavor_small: m1.small

  flavor_medium: m1.medium

  flavor_large: m1.large

  flavor_xlarge: m1.xlarge

  flavor_xxlarge: m1.xxlarge

  vm_base_name: onap

  key_name: onap_key

  pub_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKXDgoo3+WOqcUG8/5uUbk81+yczgwC4Y8ywTmuQqbNxlY1oQ0YxdMUqUnhitSXs5S/yRuAVOYHwGg2mCs20oAINrP+mxBI544AMIb9itPjCtgqtE2EWo6MmnFGbHB4Sx3XioE7F4VPsh7japsIwzOjbrQe+Mua1TGQ5d4nfEOQaaglXLLPFfuc7WbhbJbK6Q7rHqZfRcOwAMXgDoBqlyqKeiKwnumddo2RyNT8ljYmvB6buz7KnMinzo7qB0uktVT05FH9Rg0CTWH5norlG5qXgP2aukL0gk1ph8iAt7uYLf1ktp+LJI2gaF6L0/qli9EmVCSLr1uJ38Q8CBflhkh

  nexus_repo: https://nexus.onap.org/content/sites/raw

  nexus_docker_repo: nexus3.onap.org:10001

  nexus_username: docker

  nexus_password: docker

  dmaap_topic: AUTO

  artifacts_version: 1.1.0-SNAPSHOT

  openstack_tenant_id: ${OS_PROJECT_ID}

  openstack_tenant_name: ${OS_PROJECT_NAME}

  openstack_username: ${OS_USERNAME}

  openstack_api_key: ${OS_PASSWORD}

  openstack_auth_method: password

  openstack_region: RegionOne

  horizon_url: http://10.12.25.2/horizon

  keystone_url: http://10.12.25.2:5000

  cloud_env: openstack


  ######################
  #                    #
  # Network parameters #
  #                    #
  ######################

  dns_list: ["10.12.25.5", "8.8.8.8"]
  external_dns: 8.8.8.8
  oam_network_cidr: 10.0.0.0/16

  ### Private IP addresses ###

  aai1_ip_addr: 10.0.1.1
  aai2_ip_addr: 10.0.1.2
  appc_ip_addr: 10.0.2.1
  dcae_ip_addr: 10.0.4.1
  dcae_coll_ip_addr: 10.0.4.102
  dcae_db_ip_addr: 10.0.4.101
  dcae_hdp1_ip_addr: 10.0.4.103
  dcae_hdp2_ip_addr: 10.0.4.104
  dcae_hdp3_ip_addr: 10.0.4.105
  dns_ip_addr: 10.0.100.1
  so_ip_addr: 10.0.5.1
  mr_ip_addr: 10.0.11.1
  policy_ip_addr: 10.0.6.1
  portal_ip_addr: 10.0.9.1
  robot_ip_addr: 10.0.10.1
  sdc_ip_addr: 10.0.3.1
  sdnc_ip_addr: 10.0.7.1
  vid_ip_addr: 10.0.8.1
  clamp_ip_addr: 10.0.12.1
  openo_ip_addr: 10.0.14.1

#  dcae_coll_float_ip: PUT DCAE COLLECTOR FLOATING IP HERE
#  dcae_db_float_ip: PUT DCAE DATABASE FLOATING IP HERE
#  dcae_hdp1_float_ip: PUT DCAE HADOOP VM1 FLOATING IP HERE
#  dcae_hdp2_float_ip: PUT DCAE HADOOP VM2 FLOATING IP HERE
#  dcae_hdp3_float_ip: PUT DCAE HADOOP VM3 FLOATING IP HERE

  ###########################
  #                         #
  # Parameters used by DCAE #
  #                         #
  ###########################

#  dcae_base_environment: 1-NIC-FLOATING-IPS

#  dcae_zone: ZONE

#  dcae_state: STATE

#  nexus_repo_root: https://nexus.onap.org

#  nexus_url_snapshot: https://nexus.onap.org/content/repositories/snapshots

#  gitlab_branch: master

#  dcae_code_version: 1.1.0

  dnsaas_config_enabled: true
  dnsaas_region: RegionOne
  dnsaas_keystone_url: http://10.12.25.5:5000/v3
  dnsaas_tenant_name: ${OS_PROJECT_NAME}
  dnsaas_username: demo
  dnsaas_password: onapdemo
  dcae_keystone_url: "http://10.0.14.1/api/multicloud-titanium_cloud/v0/pod25_RegionOne/identity/v2.0"
  dcae_centos_7_image: CentOS-7
  dcae_security_group: default
  dcae_key_name: 'id_lji_onap'
  dcae_public_key:  'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDloKgBHx/yKRV77lr828rqa+zK+iTZpqmH3WSUU3vdNhSbEMNKkGVXR4+Gq1hNd8UNF+jMg87kOFSlQbE5jvsQMWuu1unxLKbH3AeXJd21gR1Gx4KXjkWsfl4URWMZ9WNvH0hMvqEV5SdFIDQmx07C/NOfy3R5N1pCgNsh9RT+EpDFh7jmimxrAqdxP0HnGFC2oM3rYMnzfh2/+Obkag6O3RZOkYx/WLQKbOKTi8K1C4UM5pwFzLT/vC+d9DF8pE7P9dlrbHTF9c3IGsP5oCa8CQ/WE4lVj/L9/iFNs0WsxdYaOnf11GJmPs663hltvWbQiqsFpdjX6tk/zMb3Xipz ubuntu@lusheng-sm-b781d54e-48ac-42fa-a780-3289b56e6598'
  dcae_private_key:  '-----BEGIN RSA PRIVATE KEY-----\n
MIIEowIBAAKCAQEA5aCoAR8f8ikVe+5a/NvK6mvsyvok2aaph91klFN73TYUmxDD\n
SpBlV0ePhqtYTXfFDRfozIPO5DhUpUGxOY77EDFrrtbp8Symx9wHlyXdtYEdRseC\n
l45FrH5eFEVjGfVjbx9ITL6hFeUnRSA0JsdOwvzTn8t0eTdaQoDbIfUU/hKQxYe4\n
5opsawKncT9B5xhQtqDN62DJ834dv/jm5GoOjt0WTpGMf1i0Cmzik4vCtQuFDOac\n
Bcy0/7wvnfQxfKROz/XZa2x0xfXNyBrD+aAmvAkP1hOJVY/y/f4hTbNFrMXWGjp3\n
9dRiZj7Out4Zbb1m0IqrBaXY1+rZP8zG914qcwIDAQABAoIBADusR1ybQQsGQC4H\n
oB+L4qyOxWduH/trwyyqjQO6ujqfXjV54rZS1fMbhqHhjz36fPvNFdNoAXDvbpfP\n
fYXOsVHg9fHmqb7h8qmHdXWDAp2zYu9M05QdBeAwqrQr3/gT+/YZtAk1lNkCxvTA\n
zKyzKLWlTD1/etIxX0RfBhNKBF2N6X8faO2QFxXKFomFsSRUJgbAb3sJFWpGBQAE\n
FcwpR3wB188y/qXXD5XY52zzKzFTsJW4Y48j/3tSirT68QzsqUm4CZl1/98oOjE+\n
GQC3GCNZDHqh5n23KzTy0SuxhqVT30Ot9S497h1nEbgxZPjK5chHQjuIpGZIyEme\n
TQOn5BkCgYEA+UVwel1PSV55fd3nRb9rwXEqeNg3X0Zlvx8qvPwfzdTSK5XCMTPe\n
C6V3BS8IHvpXsuzmLkrCBUy+O3rOkbhlXhGvNAndBE9y3NY2K38hfiTM38irPwzB\n
2Ksrc/Nu5uQaLk/5t08N3W6cZCml3aX4PVkJRCcH/K032ohGx2u8tR8CgYEA69N4\n
sTIy56076TtgXM6A26W/HGY7X1olM82ZABnwCiSzXJWQc9QeepCiZCqeiyzxZAs2\n
sBYb0+uKMkEYRpZUSCUtFnwoKyK9bFSo9lo8YyOUopi2e1KYfKhC2tR6HhNp+WrY\n
YGMlwMmPdbd1NqbeTQdLnJwqJjKWhFM5mVzPLC0CgYAoFNxTMLHREFnkvUu00WTY\n
RAQaTloI/d7abn6GyNusUy5AR+Jj2v03TjHnKXra0FJNuP4CL48nHwHvun2AvO+/\n
woQzj+p0CPplPCSVtemCyRQQX8n5Z2m8FznzeQ86HS+AhueWbCXEl0aabH/5NfjG\n
lIyC4uvL22aBwyvuYQqE7QKBgE6zKREBbqmQT3EbZqIyLCChJLEmkOPWYpnyIAA/\n
p7LK4qygIS/2dyFyCS+iZXyOyBQaBesnxauobFsvDBnqa0AUYAKj9ofGtS5k5moo\n
XQS8yAqnKibnvonDYWRECmjlE7Wv6XvpOp0m5uBjFBPkBkXwjFQ8bXiH42FPoOZE\n
acMVAoGBAJk4+VGPw1Z7NZbJiDRtdCOY1SZBqWXf1Mth6H8JFUGPLyTfFq1cGpN8\n
+Odna/7rl4jCiiWrCJyob4F4DF0AE1t3lEa1XgWwDIdagnldH9e5z/psR3I/p1wv\n
m3bZLBvlAVvCajosd/qeX0FkPGZlgk1dGZ8/7SyK7NITqAfgMMRS\n
-----END RSA PRIVATE KEY-----'

  ################################
  #                              #
  # Docker versions and branches #
  #                              #
  ################################

  aai_branch: master
  appc_branch: master
  so_branch: master
  mr_branch: master
  dcae_branch: master
  policy_branch: master
  portal_branch: release-1.3.0
  robot_branch: master
  sdc_branch: master
  sdnc_branch: master
  vid_branch: master
  clamp_branch: master
  vnfsdk_branch: master

  aai_docker: 1.1-STAGING-latest
  appc_docker: 1.1-STAGING-latest
  so_docker: 1.1-STAGING-latest
  mr_docker: 1.1-STAGING-latest
  dcae_docker: 1.1-latest
  policy_docker: 1.1-STAGING-latest
  portal_docker: 1.3-STAGING-latest
  robot_docker: 1.1-STAGING-latest
  sdc_docker: 1.1-STAGING-latest
  sdnc_docker: 1.2-STAGING-latest
  vid_docker: 1.1-STAGING-latest
  clamp_docker: 1.1-STAGING-latest
  msb_docker: latest
  mvim_docker: latest
  vfc_docker: latest
  uui_docker: latest
  esr_docker: latest
  dgbuilder_docker: 0.1-STAGING-latest
  cli_docker: 1.1-STAGING-latest

  #####################
  #                   #
  # ONAP repositories #
  #                   #
  #####################
  aai_repo: http://gerrit.onap.org/r/aai/test-config
  appc_repo: http://gerrit.onap.org/r/appc/deployment.git
  dcae_repo: http://gerrit.onap.org/r/dcae/demo/startup/controller.git
  mr_repo: http://gerrit.onap.org/r/dcae/demo/startup/message-router.git 
  so_repo: http://gerrit.onap.org/r/so/docker-config.git
  policy_repo: http://gerrit.onap.org/r/policy/docker.git
  portal_repo: http://gerrit.onap.org/r/portal.git
  robot_repo: http://gerrit.onap.org/r/testsuite/properties.git
  sdc_repo: http://gerrit.onap.org/r/sdc.git
  sdnc_repo: http://gerrit.onap.org/r/sdnc/oam.git
  vid_repo: http://gerrit.onap.org/r/vid.git
  clamp_repo: http://gerrit.onap.org/r/clamp.git
  vnfsdk_repo: http://gerrit.onap.org/r/vnfsdk/refrepo.git
