{
"application" : "${jira_id}",
"event" : {
"body" : {
"ticketStatePhrase" : "We recently detected a problem with the equipment at your site. The event is in queue for immediate work.",
"ivrNotificationFlag" : "1",
"expectedRestoreDate" : 0,
"bridgeTransport" : "AOTS",
"reptRequestType" : 0,
"ticketNum" : "PORTAL-104",
"assetID" : "JIRA notification from demo",
"eventAbstract" : "This is the place to enter notification contents!!! ",
"severity" : "2 - Major",
"ticketPriority" : "3",
"reportedCustomerImpact" : 0,
"testAutoIndicator" : 0,
"supportGroupName" : "US-TEST-ORT",
"messageGroup" : "SNMP",
"csi" : 0,
"mfabRestoredTime" : 0
},
"header" : {
"timestamp" : "2017-04-10T14:35:05.219+0000",
"eventSource" : "JIRA",
"entityId" : "000002000857405",
"sequenceNumber" : 2
},
"blinkMsgId" : "f38c071e-1a47-4b55-9e72-1db830100a61",
"sourceIP" : "130.4.165.158"
},
"SubscriberInfo" : {
"UserList" : ["demo"]
}
}
