# An example of an HA Kubernetes cluster for ONAP
nodes:
{% for host in (groups['control'] | list() ) %}
- address: "{{ hostvars[host]['ansible_host'] }}"
  port: "22"
  role:
  - controlplane
  - etcd
  hostname_override: "onap-control-{{ loop.index }}"
  user: {{ ansible_user_id }}
  ssh_key_path: "{{ ansible_ssh_private_key_file }}"
{% endfor %}
{% for host in (groups['workers'] | list()) %}
- address: "{{ hostvars[host]['ansible_host'] }}"
  port: "22"
  role:
  - worker
  hostname_override: "onap-k8s-{{ loop.index }}"
  user: {{ ansible_user_id }}
  ssh_key_path: "{{ ansible_ssh_private_key_file }}"
{% endfor %}
services:
  kube-api:
    service_cluster_ip_range: 10.43.0.0/16
    pod_security_policy: false
    always_pull_images: false
  kube-controller:
    cluster_cidr: 10.42.0.0/16
    service_cluster_ip_range: 10.43.0.0/16
  kubelet:
    cluster_domain: cluster.local
    cluster_dns_server: 10.43.0.10
    fail_swap_on: false
network:
  plugin: canal
authentication:
  strategy: x509
ssh_key_path: "{{ ansible_ssh_private_key_file }}"
ssh_agent_auth: false
authorization:
  mode: rbac
ignore_docker_version: false
kubernetes_version: "{{ rke_k8s_version }}"
private_registries:
- url: nexus3.onap.org:10001
  user: docker
  password: docker
  is_default: true
cluster_name: "onap"
restore:
  restore: false
  snapshot_name: ""
