---
network:
  name: &network_name "onap_ci_lab"
  cidr: "192.168.1.0/24"
  dns_servers:
    # - x.x.x.x
    # - y.y.y.y

keypair:
  name: &keypair_name "onap_ci_lab"

securitygroup:
  name: &securitygroup_name "onap_ci_lab"
  remote_ip_prefix:
    - "172.24.4.0/24"
    - "192.168.1.0/24"
  local_ip_prefix:
    - "192.168.1.0/24"

image:
  name: &image_name "Ubuntu_18.04"
  user: "ubuntu"

operation:
  name: "operation0"
  inventory: "~/inventory.ini"
  hosts:
    - name: "operator0"
      image: *image_name
      flavor: "m1.tiny"
      keypair: *keypair_name
      network: *network_name
      securitygroup: *securitygroup_name
      boot_from_volume: true
      terminate_volume: true
      volume_size: 5

cluster:
  name: "cluster0"
  hosts:
    - name: "worker0"
      image: *image_name
      flavor: "m1.tiny"
      keypair: *keypair_name
      network: *network_name
      securitygroup: *securitygroup_name
      boot_from_volume: true
      terminate_volume: true
      volume_size: 5
