Sphinx
doc8
docutils
six
sphinx_rtd_theme
sphinxcontrib-blockdiag  # BSD
sphinxcontrib-needs
sphinxcontrib-nwdiag  # BSD
sphinxcontrib-seqdiag # BSD
sphinxcontrib-swaggerdoc
sphinxcontrib-plantuml
sphinx_bootstrap_theme
lfdocs-conf
