{
            "policyConfigType": "BRMS_PARAM",
            "policyName": "${policy_name}",
            "policyDescription": "Create BRMS Param policy for vLB",
            "attributes": {
                    "MATCHING": {
                            "controller": "vDNS"
                    },
                        "RULE": {
                                    "templateName": "ControlLoopDemo__closedLoopControlName",
                                    "closedLoopControlName": "CL-DNS-LOW-TRAFFIC-SIG-d925ed73-8231-4d02-9545-db4e101f88f8",
                                    "policyVersion": "v1.0",
                                    "actor": "MSO",
                                    "aaiNamedQueryUUID": "4ff56a54-9e3f-46b7-a337-07a1d3c6b469",
                                    "aaiURL": "https://aai.api.simpledemo.openecomp.org:8443/aai/search/named-query",
                                    "aaiUsername": "POLICY",
                                    "aaiPassword": "POLICY",
                                    "msoURL": "http://vm1.mso.simpledemo.openecomp.org:8080/ecomp/mso/infra",
                                    "msoUsername": "InfraPortalClient",
                                    "msoPassword": "password11",
                                    "aaiPatternMatch": 0,
                                    "notificationTopic": "POLICY-CL-MGT",
                                    "appcTopic": "APPC-CL"
                        }
            }
}