{ 
	"policyConfigType": "BRMS_PARAM", 
	"policyName": "${policy_name}", 
	"policyDescription": "Create BRMS Param policy for vFW", 
	"attributes": { 
		"RULE": { 
			"templateName": "ControlLoopDemo__closedLoopControlName", 
			"closedLoopControlName": "ControlLoop-vFirewall-d0a1dfc6-94f5-4fd4-a5b5-4630b438850a", 
			"policyVersion": "v1.0", 
			"aaiNamedQueryUUID": "null", 
			"aaiPassword": "null", 
			"aaiURL": "null", 
			"actor": "APPC", 
			"appcTopic": "APPC-CL", 
			"msoPassword": "null", 
			"msoURL": "null", 
			"msoUsername": "null", 
			"aaiUsername": "null", 
			"notificationTopic": "POLICY-CL-MGT", 
			"aaiPatternMatch": 1 
		} 
	} 
}

